.pre_list {
    a {
        display: block;
        text-align: center;
        span {
            display: block;
        }
    }
    .active {
        border-top: 2px solid #f00;
        border-left: 2px solid #f00;
        border-right: 2px solid #f00;
        border-bottom: 2px solid #fff;
        margin-left: 40px;
        span {
            color: #df0010;
            font-weight: bold;
            margin: 0 auto;
            width: 50px;
            padding-left: 10px;
        }
    }
    .banner-t {
        overflow: hidden;
        p {
            line-height: 32px;
            margin: 10px auto 0;
            overflow: hidden;
            i,
            span,
            a {
                float: left;
                display: block;
            }
            a {
                width: 80px;
                span {
                    line-height: 16px;
                    text-align: center;
                }
            }
        }
        p+span {
            line-height: 32px;
        }
    }
}

.goods-list-1 {
    ul {
        li {
            width: 282px;
            height: 380px;
            // background-color: darkgoldenrod;
            float: left;
            margin-right: 10px;
            margin-bottom: 15px;
        }
    }
}

.list {
    font-size: 14px;
    ul {
        overflow: hidden;
        li {
            width: 236px;
            padding: 10px;
            float: left;
            margin: 0 14px 10px 0;
            border: 1px solid #ccc;
            height: 310px;
            position: relative;
            a {
                img {
                    width: 230px;
                    height: 220px;
                }
                span {
                    font-size: 22px;
                    color: #df0010;
                    font-weight: bold;
                }
            }
            p {
                width: 200px;
                height: 48px;
                line-height: 24px;
                overflow: hidden;
                font-size: 14px;
                color: #333;
            }
            img {
                width: 200px;
                height: 200px;
                display: block;
            }
            span {
                display: block;
            }
        }
    }
}

.r-nav {
    width: 40px;
    height: 100%;
    background-color: #111;
    position: fixed;
    right: 0;
    color: #fff;
    text-align: center;
    padding-top: 200px;
    font-size: 14px;
    font-family: "PingFangSC-Regular", "微软雅黑", "宋体", "arial", "Hiragino Sans GB", "Microsoft Yahei", "Tahoma", "Helvetica", "STHeiti";
    -webkit-font-smoothing: antialiased;
    vertical-align: baseline;
    font-size: 12px;
    p {
        margin-top: 20px;
        padding: 5px 0;
        a {
            color: #eee;
            span {
                display: block;
                padding: 5px 0;
                width: 28px;
                margin-left: 5px;
            }
            .iconfont {
                font-size: 18px;
            }
            .ttt {
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
            }
        }
    }
    .car {
        padding: 0 15px;
        margin-left: -15px;
        font-size: 14px;
        font-family: "PingFangSC-Regular", "微软雅黑", "宋体", "arial", "Hiragino Sans GB", "Microsoft Yahei", "Tahoma", "Helvetica", "STHeiti";
        -webkit-font-smoothing: antialiased;
        vertical-align: baseline;
        font-size: 12px;
        .iconfont {
            font-size: 23px;
        }
        .ttt {
            width: 17px;
            padding: 0 6px;
            color: #fff;
        }
    }
    .go-top {
        margin-top: 400px;
    }
}