@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'PingFangSC-Light', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', 'Arial', 'sans-serif';
}

img {
  border: none;
  /*取消IE浏览器里面加了超链接的图片的默认边框*/
  display: block;
  /*取消图片的默认空隙*/
}

input,
fieldset {
  outline: none;
  /*取消input聚焦时产生的蓝色框*/
  border: 0;
}

.clear_fix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
}

.clear_fix {
  zoom: 1;
  /*兼容ie6,7的高度自适应问题*/
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wrapper {
  width: 1090px;
  margin: 0 auto;
}

body {
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
}

.header {
  background-color: #fff;
}

.header-top {
  font-size: 13px;
  background-color: #f5f5f5;
  line-height: 36px;
  height: 40px;
  color: #333;
}

.h_t_l {
  float: left;
}
.h_t_l a {
  color: #333;
}

.h_t_r {
  float: right;
  font-size: 13px;
}

.h_t_l a {
  padding-left: 8px;
}

.h_t_r ul {
  overflow: hidden;
}

.h_t_r li {
  float: left;
}

.h_t_r a {
  color: #333;
  border-right: 1px solid #aaa;
  padding: 0 10px 0 10px;
}

.down_load_hpg {
  display: none;
  position: absolute;
  left: 1280px;
}

.icon-dianhua_ {
  border-right: 1px solid #aaa;
  padding: 0 10px 0 10px;
}

.tel_icon {
  font-size: 13px;
}

.d_l_hgp:hover .down_load_hpg {
  display: block;
}

.cus_c_box:hover .cus_center {
  display: block;
}

.header-middle {
  height: 100px;
  padding: 30px 0 19px 0;
}
.header-middle .header-middle div {
  float: left;
}

.header-m-l,
.header-m-c,
.header-m-r {
  float: left;
}

.header-m-c .search {
  width: 390px;
  height: 19px;
  padding: 8px 0;
  border: 1px solid red;
  border-radius: 20px;
  margin-left: 200px;
}

.search span:nth-child(1) {
  color: #888;
  font-size: 13px;
  margin-left: 10px;
}

.search span:nth-child(2) {
  font-size: 20px;
  background-color: red;
  display: block;
  width: 80px;
  height: 37px;
  text-indent: 15px;
  line-height: 37px;
  float: right;
  position: relative;
  top: -8px;
  border-radius: 0 20px 20px 0;
}

.header-m-c p {
  margin-left: 200px;
}

.header-m-c p:nth-child(2) {
  margin-top: 5px;
}

.header-m-c p a {
  color: #888;
  font-size: 13px;
  margin: 5px 4px 0 5px;
}

.header-m-r {
  width: 125px;
  height: 39px;
  line-height: 39px;
  border: 2px solid red;
  border-radius: 20px;
  margin-left: 50px;
}

.header-m-r a {
  display: block;
  width: 125px;
  color: #333;
}

.header-m-r .iconfont {
  font-size: 20px;
  margin-left: 25px;
}

.header-bottom {
  height: 38px;
  margin-top: 20px;
  position: relative;
}
.header-bottom .menu {
  position: absolute;
  height: 50px;
}
.header-bottom .menu li {
  float: left;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.header-bottom .menu li a {
  color: #333 !important;
  font-size: 16px !important;
}

.index_type {
  width: 170px;
  margin-top: 39px;
  position: absolute;
  z-index: 9;
}
.index_type li {
  width: 170px;
  font-size: 20px;
  padding: 10px 0;
  background-color: #fff;
  text-align: center;
}
.index_type li span {
  float: right;
  margin-right: 20px;
}

.cartlist {
  margin-left: 170px;
  position: absolute;
  width: 920px;
  height: 470px;
  background-color: darkgrey;
  z-index: 999;
  left: 0px;
  top: 40px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: red;
}

.nav-li {
  background-color: red;
  line-height: 40px;
  position: relative;
}

.index_type {
  overflow: hidden;
}
.index_type .index_type_ul {
  position: absolute;
  top: 248px;
  background-color: #fff;
}
.index_type .index_type_ul .li_has_down {
  clear: both;
  border-bottom: 1px solid red;
}
.index_type .index_type_ul .index_type_ul .li_has_down a {
  display: block;
  margin: 10px;
}

.nav_type_list {
  overflow: hidden;
  position: absolute;
  left: 500px;
  background-color: darkgreen;
  border: 1px solid #000;
  width: 500px;
  height: 1500px;
  z-index: 99;
  display: block;
}
.nav_type_list .se_type {
  background-color: darkgoldenrod;
  left: 1200px;
  top: 0;
}

.banner {
  overflow: hidden;
}

.banner-t {
  margin-top: 20px;
}
.banner-t i {
  font-size: 22px;
  font-weight: 900;
  line-height: 32px;
}
.banner-t span {
  font-size: 13px;
  color: #666;
  margin-left: 10px;
}

.banner-l,
.banner-c,
.banner-r {
  float: left;
}

.banner-l,
.banner-r {
  height: 416px;
  width: 220px;
  background-color: #fff;
}

.banner-c {
  width: 650px;
  height: 416px;
}

.banner img {
  width: 192px;
  height: 192px;
  margin: 0 auto;
}

.banner h2 {
  padding: 0 14px;
  margin: 8px 0;
  font-size: 13px;
  font-weight: 500;
  color: #f00;
}

.t1 {
  font-size: 14px;
  color: #666;
  height: 14px;
  margin: 5px 0 5px 15px;
}

.t2 {
  font-size: 14px;
  color: #333;
  height: 14px;
  margin: 5px 0 5px 15px;
  width: 192px;
  overflow: hidden;
}

.price {
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
}

.price .span1 {
  color: red;
  font-size: 22px;
}

.banner a {
  width: 192px;
  height: 32px;
  border: 1px solid red;
  margin: 20px auto;
  display: block;
}

.buy {
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: red;
}

.cust {
  font-size: 13px;
  line-height: 32px;
  text-align: center;
  color: red;
}

.banner-c {
  width: 648px;
  height: 416px;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}

.banner-c img {
  width: 648px;
  height: 416px;
}

.banner-c ul li {
  position: absolute;
  left: 0px;
  top: 0px;
  /* opacity: 0; */
  transition: all 1s;
}

.banner-c ol {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.banner-c ol li {
  float: left;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  margin-right: 5px;
  text-indent: -999em;
  cursor: pointer;
}

.banner-c ol li.active {
  background-color: chartreuse;
}

.left,
.right {
  font-size: 100px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -60px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.left:hover,
.right:hover {
  color: black;
}

.living-list a {
  display: block;
}
.living-list a span {
  display: block;
}
.living-list .active {
  border-top: 2px solid #f00;
  border-left: 2px solid #f00;
  border-right: 2px solid #f00;
}

.goods-list-1 ul li {
  width: 282px;
  height: 380px;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}

.list {
  font-size: 14px;
}
.list ul {
  overflow: hidden;
}
.list ul li {
  width: 236px;
  padding: 10px;
  float: left;
  margin: 0 14px 10px 0;
  border: 1px solid #ccc;
  height: 310px;
  position: relative;
}
.list ul li a img {
  width: 230px;
  height: 220px;
}
.list ul li a span {
  font-size: 22px;
  color: #df0010;
}
.list ul li p {
  width: 200px;
  height: 48px;
  line-height: 24px;
  overflow: hidden;
}
.list ul li img {
  width: 200px;
  height: 200px;
  display: block;
}
.list ul li span {
  display: block;
}

.r-nav {
  width: 40px;
  height: 100%;
  background-color: #111;
  position: fixed;
  right: 0;
  color: #fff;
  text-align: center;
  padding-top: 200px;
  font-size: 14px;
}
.r-nav p {
  margin-top: 20px;
}
.r-nav p a {
  color: #eee;
}
.r-nav p a span {
  display: block;
  padding: 5px 0;
  width: 25px;
  margin-left: 10px;
}
.r-nav p a .iconfont {
  font-size: 18px;
}
.r-nav p a .ttt {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.r-nav .car {
  padding: 0 15px;
  margin-left: -15px;
}
.r-nav .car .ttt {
  width: 25px;
}
.r-nav .go-top {
  margin-top: 400px;
}

.footer {
  background-color: #fff;
  margin-top: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.footer0 {
  padding-top: 30px;
  padding-bottom: 40px;
  margin: 20px auto;
  overflow: hidden;
}

.footer0-li {
  float: left;
  width: 181px;
  height: 107px;
  text-align: center;
}
.footer0-li .icon-dianhua_ {
  font-size: 50px;
  border: none;
  text-align: center;
}
.footer0-li .footer0_p1,
.footer0-li .footer0_p2 {
  margin-top: 20px;
}

.footer1 {
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #EAEAEA;
  margin-top: 20px;
}

.helpDL {
  float: left;
  padding: 0 34px 0 36px;
  _padding: 0 10px;
  _width: 150px;
}

.helpDL h5 {
  color: #333;
  font-size: 17px;
  font-weight: normal;
  height: 31px;
}

.helpDL dd a {
  color: #666;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}

.footer1_r {
  position: absolute;
  top: 40px;
  right: 40px;
}

.footer1_r ul li {
  float: left;
  width: 100px;
  margin-right: 20px;
  text-align: center;
}
.footer1_r ul li h2 {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  height: 31px;
}
.footer1_r ul li p {
  font-size: 14px;
  color: #666666;
}

.w720 {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.footer_nav {
  border-top: 3px solid #F31425;
  overflow: hidden;
  margin-top: 45px;
}
.footer_nav ul {
  margin-top: 22px;
}
.footer_nav ul li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding-right: 12px;
  *display: inline;
  *zoom: 1;
}
.footer_nav ul li a {
  font-size: 12px;
  color: #fff;
}
.footer_nav .line {
  padding-left: 14px;
  background: none;
  border-right: 1px solid #fff;
}

.footer_bottom {
  background-color: #262626;
  padding-bottom: 50px;
}
.footer_bottom p {
  padding-top: 10px;
  text-align: center;
  color: #C8C8C8;
  line-height: 21px;
}
.footer_bottom .footer_p {
  padding: 30px 0 40px 0;
  margin-left: 650px;
}

.font_arial {
  color: #c8c8c8;
}

.jh {
  display: inline;
}

.footer_bottom .footer0-li {
  float: left;
  width: 181px;
  text-align: center;
}

.footer0-li i {
  color: #DF0010;
  font-size: 50px;
}

.footer0_p1 {
  color: #333;
  font-size: 17px;
  margin-top: -5px;
  font-weight: bold;
}

.footer0_p2 {
  color: #999;
  font-size: 15px;
}

.footer_p a {
  float: left;
  display: inline;
  margin-left: 100px;
}
.footer_p a img {
  display: inline-block;
}

/*# sourceMappingURL=index1.css.map */
